--- 
layout: base.njk 
permalink: '{{ locale }}/blog/'
---

<h1>Tous les Posts</h1>
<div class="tags">
  {% include "tags-list.njk" %}
</div>
{% set postslist = collections["posts_" + locale] %}
{% include "posts-list.njk" %}